<div>

    <div id="top-bar">
        <div id="logo">
            <img src="views/images/logo.png" height="80px"/>
            <p>ConvoBuddy</p>
        </div>
    </div>

    <div id="loading">
        <div><h1>generating report...</h1></div>
    </div>
    <div id="content-wrapper">

        <h2 id="record-status">⬤<b>&nbsp;&nbsp;Live</b></h2>
        <div class="web-cam"><video id="video" width="500" height="500" autoplay></video></div>
        <h2 id="who">Joined as {{model.fullname}}</h2>

        <div id="exit-btn" ng-click="model.endMeeting()"><img src="views/images/exit-icon.png" height="80px"/><h2>End Meeting</h2></div>
        <br />

        <a href="" ng-click="model.take_snap()" class="button" id="snap" download="convo-buddy.jpg" hidden>Snap Photo</a>
        <button id="record" ng-click="model.startLoop()">Record</button>
        <button id="stop" ng-click="model.stopLoop()">Stop</button>


        <canvas class="hide" id="canvas" width="640" height="480"></canvas>

        <button ng-click="model.output()">analyze image</button>

    </div>
</div>